body{
    display: block;
    margin-left: 4ex;
    font-family: 'Crimson+Text','Times New Roman', Times, serif;
    font-size: 16pt;
}

h1 {
    font-family: 'UnifrakturMaguntia';
    font-style: normal;
}

tei-teiheader {
    display: block;
    font-family: 'UnifrakturMaguntia';
    text-align: center;
    color: rgba(29, 155, 161, 0.671);
}

tei-title{
    display: block;
    font-size: 80px;
}


tei-author{
    display: block;
    font-size: 40px;
}

tei-publicationstmt tei-p {
    color: rgb(72, 159, 52);
    display: block;
}

tei-sourcedesc tei-p {
    color: rgb(86, 24, 98);
    display:block;
}

tei-stage{
    display: block;
    font-style: italic;
}

tei-stage[lang="eng"]{
    color: rgb(229, 113, 122);
}

tei-stage[lang="spa"]{
    color: blueviolet;
}

tei-sp{
    display: block;
}

tei-speaker{
    display: block;
    font-variant: small-caps;
    color: rgb(4, 88, 50);
    margin-top: 12pt;
    font-weight: 500;
    font-family: 'Cookie'
}

tei-l{
    display: block;
}

tei-p{
    display: block;
}

tei-role{
    display:block;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Cookie';
}

tei-roledesc{
    display: block;
    font-size: 25px;
    font-family: 'Sirivennela';
}
tei-lem{
    display: inline;
    font-style: italic;
    color: rgba(106, 58, 3, 0.979);
}

tei-lem::after{
    content: "(" attr(wit) ")";
    vertical-align: sub;
    font-size: 6pt;
}

tei-lem[n]::after{
    content: "0 (" attr(wit) ")";
    color: black;
    font-weight: 600;
}

tei-rdg {
    display: inline;
    color: rgb(14, 61, 62);
    font-style:italic;
}

tei-rdg::after{
    content: "(" attr(wit) ")";
    vertical-align: sub;
    font-size: 6pt;
}
tei-rdg[type=variation-absent]::after {
content: "0 (" attr(wit) ")";
vertical-align: sub;
    font-size: 6pt;
}

tei-rdg[type=variation-present]::before {
content: "^";
vertical-align: sub;
    font-size: 6pt;
}

tei-rdg[type=variation-present]::after {
content: "(" attr(wit) ")";
vertical-align: sub;
    font-size: 6pt;
}

tei-div[type=reflexion]{
    font-family: 'cookie';
    display: block;
    font-size: larger;
    text-indent: 1.5cm;
}